* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    --main-font-stack:  Arial, Helvetica, sans-serif;
  }

  .page-container {
    background-color: #123e63;
  }

  .header-container{
      display: flex;
      justify-content: center;
  }

  h1 {
      font-size: 100px;
      color: #D74B3D;
      font-family: var(--main-font-stack);
  }

  .imagen-container {
    display: flex;
    justify-content: center;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  figcaption {
      color: blanchedalmond;
      font-family: var(--main-font-stack);
  }

  .p, .texto-footer {
    font-family: var(--main-font-stack);
  }

  .footer-container {
    display: flex;
    justify-content: center;
    background: #30a17b;
    border-color: black;
  }

 