* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    --main-font-stack:  Arial, Helvetica, sans-serif;
  }

  .header-container{
      display: flex;
      justify-content: center;
      background-color: #123e63;
  }

h1{
  font-size: 7rem;
  text-shadow: 1px 1px 2px black;
}

  h1,h2 {
      color: #f15c4e;
      font-family: var(--main-font-stack);
    }

    h2{
      font-size: 2rem;
    }

  .imagen-container {
    display: flex;
    justify-content: center;
    margin-top: 3px;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  figcaption {
      color: grey;
      font-family: var(--main-font-stack);
  }

  .info {
   margin: 25px 100px 0px 100px;
  }

  p {
    font-family: var(--main-font-stack);
    font-size: 22px;
    text-align: justify;
  }

  a {
    text-decoration: none;
    color: #f15c4e;
  }

  .footer-container {
    display: flex;
    justify-content: center;
    background:  #30a17b;
    border-color: black;
  }

 